@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}

$body-bg-dark: #121519;
$primary: #edcb50;

$border-radius:               .375rem;
$border-radius-sm:            .15rem;
$border-radius-lg:            .25rem;
$border-radius-xl:            .60rem;
$border-radius-xxl:           1rem;
$border-radius-pill:          25rem;

/* import bootstrap to set changes */
@import '~bootstrap/scss/bootstrap';