@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

$body-bg-dark: #121519;
$primary: rgb(211, 170, 23);
$font-family-base: 'Roboto';

$border-radius:               .375rem;
$border-radius-sm:            .15rem;
$border-radius-lg:            .25rem;
$border-radius-xl:            .60rem;
$border-radius-xxl:           1rem;
$border-radius-pill:          25rem;

/* import bootstrap to set changes */
@import '~bootstrap/scss/bootstrap';