@model eShop.Models.Compositions.CreateCompositionViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Composition</h4>
<hr />

<form asp-action="Create" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" accept="image/png, image/jpeg" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-5">
            @for (var i = 0; i < ViewBag.Capacity; i++)
            {
                <div class="mb-3">
                    <b>Product #@(i + 1)</b>
                    <div class="form-group">
                        <label for="Products[@i].Name">Name</label>
                        <input id="Products[@i].Name" type="text" class="form-control" name="Products[@i].Name" />
                    </div>
                    <div class="form-group">
                        <label for="Products[@i].Url">Url</label>
                        <input id="Products[@i].Url" type="text" class="form-control" name="Products[@i].Url" />
                    </div>
                    <div class="form-group">
                        <label for="Products[@i].Price">Price</label>
                        <input id="Products[@i].Price" type="text" class="form-control" name="Products[@i].Price" />
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
